<a href="https://colab.research.google.com/github/hillsera/pandas-assignment-1/blob/main/Ch1_Activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [5]:
store1 = pd.read_csv('/content/drive/MyDrive/datasets/Store1.csv')

store1.head()

  Months  Grocery_sales  Stationary_sales
0    Jan             16                57
1    Jan             44               139
2    Jan             15                85
3    Jan             59                 8
4    Jan             36               106

In [6]:
store2 = pd.read_csv('/content/drive/MyDrive/datasets/Store2.csv')

store2.head()

  Months  Grocery_sales  Stationary_sales
0    Jan             36                84
1    Jan             51                63
2    Jan             17                71
3    Jan             48                65
4    Jan             57                66

Question 1 Answer: Store 1 had the highest sales

In [7]:
sales1 = store1[['Grocery_sales', 'Stationary_sales']].sum(axis=1).sum()
print(sales1)

6082

In [8]:
sales2 = store2[['Grocery_sales', 'Stationary_sales']].sum(axis=1).sum()
print(sales2)

5847

Question 2 Answer: Store 2 had the highest grocery sales

In [9]:
store1_grocery_sales = store1['Grocery_sales'].sum(axis=0)
print(store1_grocery_sales)

2097

In [10]:
store2_grocery_sales = store2['Grocery_sales'].sum(axis=0)
print(store2_grocery_sales)

2696

Question 3 Answer: Store 1 had the highest sales in March

In [11]:
store1_march_sales = store1.groupby(['Months'])[['Grocery_sales', 'Stationary_sales']].agg('sum').agg('sum', axis=1)
print(store1_march_sales)

Months
Feb    1744
Jan    1467
Mar    2871
dtype: int64

In [12]:
store2_march_sales = store2.groupby(['Months'])[['Grocery_sales', 'Stationary_sales']].agg('sum').agg('sum', axis=1)
print(store2_march_sales)

Months
Feb    2050
Jan    1419
Mar    2378
dtype: int64

Question 4 Answer: Store 1 had more sales than Store 2 for 35 days.

In [14]:
store1_greater_stationary = store1[store1['Stationary_sales'].gt(store2['Stationary_sales'], axis=0)]
print(store1_greater_stationary)
print('Store 1 had more sales than Store 2 for', str(len(store1_greater_stationary)), 'days.')

   Months  Grocery_sales  Stationary_sales
1     Jan             44               139
2     Jan             15                85
4     Jan             36               106
5     Jan             27               136
6     Jan             74               116
7     Jan             63               142
8     Jan             65               129
9     Jan             12               138
10    Feb             34               112
11    Feb             73               100
12    Feb             45               135
13    Feb             31                13
14    Feb             61                51
16    Feb             20               141
17    Feb             18                72
18    Feb             60               134
19    Feb             62                47
21    Feb             25                75
23    Feb             10               118
25    Mar             72                97
26    Mar             48                63
27    Mar             64                54
28    Mar             14                78
29    Mar             51               104
30    Mar             30               133
33    Mar             66                80
35    Mar             54               111
36    Mar             46               147
37    Mar             43               137
39    Mar             55                50
42    Mar             28                73
44    Mar             57               124
46    Mar             11                86
48    Mar             52                68
49    Mar             29               113
Store 1 had more sales than Store 2 for 35 days.

<ipython-input-14-2eeb4ab5468b>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  store1_greater_stationary = store1[store1['Stationary_sales'].gt(store2['Stationary_sales'], axis=0)]