<a href="https://colab.research.google.com/github/hillsera/pandas-assignment-1/blob/main/Ch2_Activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [10]:
fname = '/content/sample_data/US_GDP.csv'
GDP_data = pd.read_csv(fname)
GDP_data.head()

         date      GDP
0  2017-03-31  19190.4
1  2017-06-30  19356.6
2  2017-09-30  19611.7
3  2017-12-31  19918.9
4  2018-03-31  20163.2

In [11]:
GDP_data.dtypes

date     object
GDP     float64
dtype: object

In [8]:
GDP_data['date'] = pd.to_datetime(GDP_data['date'])
GDP_data.set_index('date', inplace = True, drop = True)
GDP_data.head()

                GDP
date
2017-03-31  19190.4
2017-06-30  19356.6
2017-09-30  19611.7
2017-12-31  19918.9
2018-03-31  20163.2

In [9]:
GDP_data.to_csv('/content/sample_data/US_GDP_date_index.csv')